/vendor
/node_modules
/frontend/node_modules
.env
.env.backup
.env.production
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/frontend/dist
/storage/*.key
storage/pail
storage/clockwork
storage/logs/*
!storage/logs/.gitignore
public/storage
public/hot
public/storage/
.idea
.vscode
.DS_Store
Thumbs.db
*.log
bootstrap/cache/*.php
bootstrap/cache/packages.php
bootstrap/cache/services.php
frontend/node_modules/.tmp
